.button {
    background-color: var(--bg);
    transition: background-color 0.5s ease;
    text-align: center;
    cursor: pointer;
    border-radius: 25rem;
    flex: none;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    line-height: 1.2;
    display: inline-flex;
    border: none;
    margin: 10px;
    padding: 1.0rem 1.5rem;
    font-size: 16px;
    font-family: "Montserrat";
    color: var(--c);
    border: 1px solid #e5e7eb;
    transition: transform 0.5s ease;
}

.button:hover {
    background-color: var(--bg-hover);
    color: var(--c-hover);
}

.button:active{
    transform: scale(0.85);
}